{{define "title"}}PECAN Home{{end}}
{{template "header"}}
    <form method="get" action="/search">
        <fieldset class="flex four">
            <label class="full"><input type="search" placeholder="Search for messages" name="q"></label>
            <label><input type="date" value="{{ .From }}" name="from"></label>
            <label><input type="date" value="{{ .To }}" name="to"></label>
            <input type="hidden" name="start" value="0">
            <label><input type="submit" value="Search"></label>
        </fieldset>
    </form>
    <h2>Statistics</h2>
    <article class="card">
        <header>Number of indexed messages</header>
        <footer>
            <h1>{{.NumMessages}}</h1>
        </footer>
    </article>
{{template "footer"}}