<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ielab slack archives</title>
    <link rel="stylesheet" href="/static/picnic.min.css">
    <link rel="stylesheet" href="/static/archiver.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="overflow: hidden;height: 64px;"></div>
<nav>
    <a href="#" class="brand">
        <span>ieab slack archive</span>
    </a>
</nav>
<main>
    <form method="get" action="/">
        <fieldset class="flex four">
            <label class="full"><input type="search" placeholder="Search for messages" name="q" value="{{ .Query }}"></label>
            <label><input type="date" value="{{ .From }}" name="from"></label>
            <label><input type="date" value="{{ .To }}" name="to"></label>
            <input type="hidden" name="start" value="0">
            <label><input type="submit" value="Search"></label>
        </fieldset>
    </form>
    <hr/>
    <article class="card flex two">
        <img src="/static/logo.png" class="profile" style="width: 64px">
        {{ if eq .Type 0 }}
            <h2 style="font-family: monospace;">Here are some recent messages:</h2>
        {{ else }}
            {{ if .Messages }}
                <h2 style="font-family: monospace;">Bzzrt! I found {{ len .Messages }} results:</h2>
            {{ else }}
                <h2 style="font-family: monospace;">Urp! I didn't find any results.</h2>
            {{ end }}
        {{ end }}
    </article>
    <div class="flex one">
        {{ range .Messages }}
            <article class="card">
                {{ if eq .SubType "message_deleted" }}
                    {{ if .PreviousMessage }}
                        <header>
                            <b>{{ .PreviousMessage.User }}</b>
                            <small>#{{ .Channel }} {{ .EventTimestamp }}</small>
                        </header>
                        <footer>
                            <del>{{ .PreviousMessage.Text }}</del>
                        </footer>
                    {{ else }}
                        <header>
                            <small>#{{ .Channel }} {{ .EventTimestamp }}</small>
                        </header>
                        <footer>[message deleted]</footer>
                    {{ end }}
                {{ else if eq .SubType "message_replied" }}
                    <header>
                        <b>{{ .User }}</b>
                        <small>#{{ .Channel }} {{ .EventTimestamp }}</small>
                    </header>
                    <footer>{{ .Text }}</footer>
                    {{ if .SubMessage }}
                        <blockquote>
                            <ul>
                                <li>
                                    <small><b>{{ .SubMessage.User }}</b> {{ .EventTimestamp }}</small>
                                </li>
                                <li>
                                    <small>{{ .SubType }}</small>
                                </li>
                            </ul>
                        </blockquote>
                    {{ else }}
                        <div>[can't see response]</div>
                    {{ end }}
                {{ else }}
                    <header>
                        <b>{{ .User }}</b>
                        <small>#{{ .Channel }} {{ .EventTimestamp }}</small>
                    </header>
                    <footer>{{ .Text }}</footer>
                {{ end }}
            </article>
        {{ end }}
    </div>
    <div class="flex two">
        {{ if gt .Next -1 }}
            <form method="get" action="/">
                <input type="hidden" name="start" value="{{ .Next }}">
                <input type="hidden" name="q" value="{{ .Query }}">
                <input type="hidden" name="from" value="{{ .From }}">
                <input type="hidden" name="to" value="{{ .To }}">
                <label><input type="submit" value="Next"></label>
            </form>
        {{ end }}
        {{ if gt .Prev -1 }}
            <form method="get" action="/">
                <input type="hidden" name="start" value="{{ .Prev }}">
                <input type="hidden" name="q" value="{{ .Query }}">
                <input type="hidden" name="from" value="{{ .From }}">
                <input type="hidden" name="to" value="{{ .To }}">
                <label><input type="submit" value="Previous"></label>
            </form>
        {{ end }}
    </div>
</main>
</body>
</html>